/*.mmm{
	width: 100px;
	height: 100px;
	background-color: red;
}
.nnn{
	width: 100px;
	height: 100px;
	background-color: red;
}*/


/*#barev{
	width: 100px;
	height: 100px;
	border: 2px solid black;
}*/

.conteiner{
	width: 33vw;
	/*height: 80vh;*/
	margin: auto;
	background-color: #755d9f;
}
.vernagir{
	width: 50%;
	height: 10%;
	margin: auto;
	padding-top: 10px;
}
.tarberakner{
	margin-left: 70px;
	width: 80px;
	height: 50px;
}
.gic{
	width: 70%;
	margin-top: 20px;
}
.inputne{
	width: 70%;
	height: 66%;
	margin: auto;
	margin-top: 20px;
}
.araji{
	width: 48%;
	height: 10%;
	display: inline-block;
}
.mnacac{
	width: 99%;
	height: 10%;
	margin-top: 5px;
}
.register{
	width: 50%;
	height: 48px;
	background-color: #666666;
	margin: auto;
	margin-top: 10px;
}
.register:hover{
	background-color: blue;
}
.reg{
	color: white;
	text-align: center;
	padding: 14px;
}
.text{
	width: 60%;
	height: 20px;
	margin-left: 23%;
	font-size: 12px;
	color: white;
}
.gender{
	width: 100%;
	height: 3%;
	margin-top: 4px;
}